In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [2]:
#Загрузка данных
first_data = pd.read_csv('player_data.csv')
#Смотрим основные параметры
print(first_data.shape)
print(first_data.dtypes)

(4550, 8)
name           object
year_start      int64
year_end        int64
position       object
height         object
weight        float64
birth_date     object
college        object
dtype: object

In [3]:
#Оцениваем что в дата сете есть, и с чем прийдется иметь дело
first_data.head(50)

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
5,Shareef Abdur-Rahim,1997,2008,F,6-9,225.0,"December 11, 1976",University of California
6,Tom Abernethy,1977,1981,F,6-7,220.0,"May 6, 1954",Indiana University
7,Forest Able,1957,1957,G,6-3,180.0,"July 27, 1932",Western Kentucky University
8,John Abramovic,1947,1948,F,6-3,195.0,"February 9, 1919",Salem International University
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",NaN
10,Alex Acker,2006,2009,G,6-5,185.0,"January 21, 1983",Pepperdine University
11,Don Ackerman,1954,1954,G,6-0,183.0,"September 4, 1930",Long Island University
12,Mark Acres,1988,1993,F-C,6-11,220.0,"November 15, 1962",Oral Roberts University
13,Bud Acton,1968,1968,F,6-6,210.0,"January 11, 1942",Hillsdale College
14,Quincy Acy,2013,2018,F,6-7,240.0,"October 6, 1990",Baylor University
15,Alvan Adams,1976,1988,C-F,6-9,210.0,"July 19, 1954",University of Oklahoma
16,Don Adams,1971,1977,F,6-6,210.0,"November 27, 1947",Northwestern University
17,George Adams,1973,1975,F-G,6-5,210.0,"May 15, 1949",Gardner-Webb University
18,Hassan Adams,2007,2009,G,6-4,220.0,"June 20, 1984",University of Arizona
19,Jordan Adams,2015,2016,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"
20,Michael Adams,1986,1996,G,5-10,162.0,"January 19, 1963",Boston College
21,Steven Adams,2014,2018,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
22,Rafael Addison,1987,1997,F-G,6-7,215.0,"July 22, 1964",Syracuse University
23,Bam Adebayo,2018,2018,C-F,6-10,243.0,"July 18, 1997",University of Kentucky
24,Rick Adelman,1969,1975,G,6-1,175.0,"June 16, 1946",Loyola Marymount University
25,Jeff Adrien,2011,2015,F,6-7,245.0,"February 10, 1986",University of Connecticut
26,Arron Afflalo,2008,2018,G,6-5,210.0,"October 15, 1985","University of California, Los Angeles"
27,Maurice Ager,2007,2011,G,6-5,202.0,"February 9, 1984",Michigan State University
28,Mark Aguirre,1982,1994,F-G,6-6,232.0,"December 10, 1959",DePaul University
29,Blake Ahearn,2008,2012,G,6-2,190.0,"May 27, 1984",Missouri State University
30,Danny Ainge,1982,1995,G,6-4,175.0,"March 17, 1959",Brigham Young University
31,Matthew Aitch,1968,1968,F,6-7,230.0,"September 21, 1944",Michigan State University
32,Alexis Ajinca,2009,2017,C,7-2,248.0,"May 6, 1988",NaN
33,Henry Akin,1967,1969,C-F,6-10,225.0,"July 31, 1944",Morehead State University
34,Josh Akognon,2013,2013,G,5-11,185.0,"February 10, 1986","California State University, Fullerton"
35,Solomon Alabi,2011,2012,C,7-1,251.0,"March 21, 1988",Florida State University
36,Mark Alarie,1987,1991,F,6-8,217.0,"December 11, 1963",Duke University
37,Gary Alcorn,1960,1961,C,6-9,225.0,"October 8, 1936","California State University, Fresno"
38,Furkan Aldemir,2015,2015,F-C,6-10,240.0,"August 9, 1991",NaN
39,Cole Aldrich,2011,2018,C,6-11,250.0,"October 31, 1988",University of Kansas
40,LaMarcus Aldridge,2007,2018,F-C,6-11,260.0,"July 19, 1985",University of Texas at Austin
41,Chuck Aleksinas,1985,1985,C,6-11,260.0,"February 26, 1959",University of Connecticut
42,Cliff Alexander,2016,2016,F,6-8,245.0,"November 16, 1995",University of Kansas
43,Cory Alexander,1996,2005,G,6-1,185.0,"June 22, 1973",University of Virginia
44,Courtney Alexander,2001,2003,G,6-5,205.0,"April 27, 1977","California State University, Fresno"
45,Gary Alexander,1994,1994,F,6-7,240.0,"November 1, 1969",University of South Florida
46,Joe Alexander,2009,2010,F,6-8,230.0,"December 26, 1986",West Virginia University
47,Victor Alexander,1992,2002,C-F,6-9,265.0,"August 31, 1969",Iowa State University
48,Steve Alford,1988,1991,G,6-2,183.0,"November 23, 1964",Indiana University
49,Bill Allen,1968,1968,C-F,6-8,205.0,NaN,New Mexico State University

In [4]:
first_data.count()

name          4550
year_start    4550
year_end      4550
position      4549
height        4549
weight        4544
birth_date    4519
college       4248
dtype: int64

In [13]:
cols = []
persent = []
for col in first_data.columns:
    pct_missing = np.mean(first_data[col].isnull())
    cols.append(col)
    persent.append(round(pct_missing*100,5))

{'name': 0.0, 'year_start': 0.0, 'year_end': 0.0, 'position': 0.0, 'height': 0.0, 'weight': 0.0, 'birth_date': 0.66021, 'college': 6.64613}

In [5]:
def from_ft_to_m(ft):
    size = ft.split("-")
    return ((int(size[0]) * 12) + int(size[1])) / 39.37008
#Удаление записей с полем height nan
ind_missing = first_data[pd.isna(first_data["height"])].index
first_data = first_data.drop(ind_missing, axis=0)

#Перевод поля height из имперской системы в метрическую
first_data["height"] = first_data["height"].apply(from_ft_to_m)

In [6]:
def from_lb_to_kg(lb):
    return round(lb/2.2046)
#Удаление записей с полем height nan
ind_missing = first_data[pd.isna(first_data["weight"])].index
first_data = first_data.drop(ind_missing, axis=0)

#Перевод поля height из имперской системы в метрическую
first_data["weight"] = first_data["weight"].apply(from_lb_to_kg)
first_data.head(50)

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,2.0828,109,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,2.0574,107,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,2.1844,102,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,1.8542,73,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,1.9812,101,"November 3, 1974",San Jose State University
5,Shareef Abdur-Rahim,1997,2008,F,2.0574,102,"December 11, 1976",University of California
6,Tom Abernethy,1977,1981,F,2.0066,100,"May 6, 1954",Indiana University
7,Forest Able,1957,1957,G,1.9050,82,"July 27, 1932",Western Kentucky University
8,John Abramovic,1947,1948,F,1.9050,88,"February 9, 1919",Salem International University
9,Alex Abrines,2017,2018,G-F,1.9812,86,"August 1, 1993",NaN
10,Alex Acker,2006,2009,G,1.9558,84,"January 21, 1983",Pepperdine University
11,Don Ackerman,1954,1954,G,1.8288,83,"September 4, 1930",Long Island University
12,Mark Acres,1988,1993,F-C,2.1082,100,"November 15, 1962",Oral Roberts University
13,Bud Acton,1968,1968,F,1.9812,95,"January 11, 1942",Hillsdale College
14,Quincy Acy,2013,2018,F,2.0066,109,"October 6, 1990",Baylor University
15,Alvan Adams,1976,1988,C-F,2.0574,95,"July 19, 1954",University of Oklahoma
16,Don Adams,1971,1977,F,1.9812,95,"November 27, 1947",Northwestern University
17,George Adams,1973,1975,F-G,1.9558,95,"May 15, 1949",Gardner-Webb University
18,Hassan Adams,2007,2009,G,1.9304,100,"June 20, 1984",University of Arizona
19,Jordan Adams,2015,2016,G,1.9558,95,"July 8, 1994","University of California, Los Angeles"
20,Michael Adams,1986,1996,G,1.7780,73,"January 19, 1963",Boston College
21,Steven Adams,2014,2018,C,2.1336,116,"July 20, 1993",University of Pittsburgh
22,Rafael Addison,1987,1997,F-G,2.0066,98,"July 22, 1964",Syracuse University
23,Bam Adebayo,2018,2018,C-F,2.0828,110,"July 18, 1997",University of Kentucky
24,Rick Adelman,1969,1975,G,1.8542,79,"June 16, 1946",Loyola Marymount University
25,Jeff Adrien,2011,2015,F,2.0066,111,"February 10, 1986",University of Connecticut
26,Arron Afflalo,2008,2018,G,1.9558,95,"October 15, 1985","University of California, Los Angeles"
27,Maurice Ager,2007,2011,G,1.9558,92,"February 9, 1984",Michigan State University
28,Mark Aguirre,1982,1994,F-G,1.9812,105,"December 10, 1959",DePaul University
29,Blake Ahearn,2008,2012,G,1.8796,86,"May 27, 1984",Missouri State University
30,Danny Ainge,1982,1995,G,1.9304,79,"March 17, 1959",Brigham Young University
31,Matthew Aitch,1968,1968,F,2.0066,104,"September 21, 1944",Michigan State University
32,Alexis Ajinca,2009,2017,C,2.1844,112,"May 6, 1988",NaN
33,Henry Akin,1967,1969,C-F,2.0828,102,"July 31, 1944",Morehead State University
34,Josh Akognon,2013,2013,G,1.8034,84,"February 10, 1986","California State University, Fullerton"
35,Solomon Alabi,2011,2012,C,2.1590,114,"March 21, 1988",Florida State University
36,Mark Alarie,1987,1991,F,2.0320,98,"December 11, 1963",Duke University
37,Gary Alcorn,1960,1961,C,2.0574,102,"October 8, 1936","California State University, Fresno"
38,Furkan Aldemir,2015,2015,F-C,2.0828,109,"August 9, 1991",NaN
39,Cole Aldrich,2011,2018,C,2.1082,113,"October 31, 1988",University of Kansas
40,LaMarcus Aldridge,2007,2018,F-C,2.1082,118,"July 19, 1985",University of Texas at Austin
41,Chuck Aleksinas,1985,1985,C,2.1082,118,"February 26, 1959",University of Connecticut
42,Cliff Alexander,2016,2016,F,2.0320,111,"November 16, 1995",University of Kansas
43,Cory Alexander,1996,2005,G,1.8542,84,"June 22, 1973",University of Virginia
44,Courtney Alexander,2001,2003,G,1.9558,93,"April 27, 1977","California State University, Fresno"
45,Gary Alexander,1994,1994,F,2.0066,109,"November 1, 1969",University of South Florida
46,Joe Alexander,2009,2010,F,2.0320,104,"December 26, 1986",West Virginia University
47,Victor Alexander,1992,2002,C-F,2.0574,120,"August 31, 1969",Iowa State University
48,Steve Alford,1988,1991,G,1.8796,83,"November 23, 1964",Indiana University
49,Bill Allen,1968,1968,C-F,2.0320,93,NaN,New Mexico State University

In [7]:
for col in first_data.columns:
    pct_missing = np.mean(first_data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100,5)))

name - 0.0%
year_start - 0.0%
year_end - 0.0%
position - 0.0%
height - 0.0%
weight - 0.0%
birth_date - 0.66021%
college - 6.64613%

In [8]:
second_data = pd.read_csv('Players.csv')
second_data["weight"].value_counts()
# second_data.head(100)

83.0     291
95.0     281
86.0     273
99.0     262
97.0     223
        ...
140.0      1
149.0      1
125.0      1
75.0       1
142.0      1
Name: weight, Length: 76, dtype: int64

In [9]:
third_data = pd.read_csv('Seasons_Stats.csv')
third_data.head(100)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1950.0,Bob Harrison,G,22.0,MNL,66.0,NaN,NaN,NaN,...,0.676,NaN,NaN,NaN,131.0,NaN,NaN,NaN,175.0,300.0
96,96,1950.0,Billy Hassett,G,28.0,TOT,60.0,NaN,NaN,NaN,...,0.646,NaN,NaN,NaN,137.0,NaN,NaN,NaN,136.0,272.0
97,97,1950.0,Billy Hassett,G,28.0,TRI,18.0,NaN,NaN,NaN,...,0.734,NaN,NaN,NaN,68.0,NaN,NaN,NaN,54.0,161.0
98,98,1950.0,Billy Hassett,G,28.0,MNL,42.0,NaN,NaN,NaN,...,0.522,NaN,NaN,NaN,69.0,NaN,NaN,NaN,82.0,111.0
99,99,1950.0,Marshall Hawkins,F,25.0,INO,39.0,NaN,NaN,NaN,...,0.689,NaN,NaN,NaN,51.0,NaN,NaN,NaN,87.0,152.0

In [10]:
data = first_data.merge(second_data)

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [11]:
data.groupby(['salary'])['age'].agg([np.mean, np.std])

KeyError: 'salary'

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
data[data['salary'] == '>50K']['education'].value_counts(normalize=False)
#Из таблицы видно что довольно много тех кто зарабатывает больше 50К не имеют высшего образования. Возьмём людей с образованием "HS-grad" их 1675 или 21,3%. По этому ответ: Нет, утверждение ложно

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [ ]:
 data.groupby(['race', 'sex'])['age'].describe()
# Из таблицы (строка 2, столбец 'max') видно что максимальный возраст мужчин расы "Amer-Indian-Eskimo" равен 82 годам

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
data[data['sex'] == 'Male'].groupby([data['marital-status'].str.startswith('Married'), 'salary'])['age'].count()
#Нам из тыблицы сравнить два показателя 'True'->'>50K' и 'False'->'>50K'. Как видно первого больше 5969>697. Из этого следует что доля зарабатывающих много больше среди женатых.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
print("The maximum number of hours a person works per week: ", data['hours-per-week'].max())

In [ ]:
print("Number of people working maximum number of hours:",
      data[data['hours-per-week'] == data['hours-per-week'].max()]['hours-per-week'].count())

In [ ]:
data[data['hours-per-week'] == data['hours-per-week'].max()]['salary'].value_counts(normalize=True)
# Как видно из предст валенной таблицы доля тех кто работает 99 часов и зарабатывает много равна 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (**).**

In [ ]:
 data.groupby(['native-country', 'salary'])['hours-per-week'].mean()