In [13]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

Загрузка данных первого сета.

In [14]:
first_data = pd.read_csv('player_data.csv')
first_data.rename(columns ={"name":"Player"},inplace=True)
#Смотрим основные параметры.
print(first_data.shape)
print(first_data.dtypes)

(4550, 8)
Player         object
year_start      int64
year_end        int64
position       object
height         object
weight        float64
birth_date     object
college        object
dtype: object

Оцениваем что в дата-сете есть, и с чем прийдется иметь дело.

In [15]:
first_data.head(50)

,Player,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
5,Shareef Abdur-Rahim,1997,2008,F,6-9,225.0,"December 11, 1976",University of California
6,Tom Abernethy,1977,1981,F,6-7,220.0,"May 6, 1954",Indiana University
7,Forest Able,1957,1957,G,6-3,180.0,"July 27, 1932",Western Kentucky University
8,John Abramovic,1947,1948,F,6-3,195.0,"February 9, 1919",Salem International University
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",NaN
10,Alex Acker,2006,2009,G,6-5,185.0,"January 21, 1983",Pepperdine University
11,Don Ackerman,1954,1954,G,6-0,183.0,"September 4, 1930",Long Island University
12,Mark Acres,1988,1993,F-C,6-11,220.0,"November 15, 1962",Oral Roberts University
13,Bud Acton,1968,1968,F,6-6,210.0,"January 11, 1942",Hillsdale College
14,Quincy Acy,2013,2018,F,6-7,240.0,"October 6, 1990",Baylor University
15,Alvan Adams,1976,1988,C-F,6-9,210.0,"July 19, 1954",University of Oklahoma
16,Don Adams,1971,1977,F,6-6,210.0,"November 27, 1947",Northwestern University
17,George Adams,1973,1975,F-G,6-5,210.0,"May 15, 1949",Gardner-Webb University
18,Hassan Adams,2007,2009,G,6-4,220.0,"June 20, 1984",University of Arizona
19,Jordan Adams,2015,2016,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"
20,Michael Adams,1986,1996,G,5-10,162.0,"January 19, 1963",Boston College
21,Steven Adams,2014,2018,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
22,Rafael Addison,1987,1997,F-G,6-7,215.0,"July 22, 1964",Syracuse University
23,Bam Adebayo,2018,2018,C-F,6-10,243.0,"July 18, 1997",University of Kentucky
24,Rick Adelman,1969,1975,G,6-1,175.0,"June 16, 1946",Loyola Marymount University
25,Jeff Adrien,2011,2015,F,6-7,245.0,"February 10, 1986",University of Connecticut
26,Arron Afflalo,2008,2018,G,6-5,210.0,"October 15, 1985","University of California, Los Angeles"
27,Maurice Ager,2007,2011,G,6-5,202.0,"February 9, 1984",Michigan State University
28,Mark Aguirre,1982,1994,F-G,6-6,232.0,"December 10, 1959",DePaul University
29,Blake Ahearn,2008,2012,G,6-2,190.0,"May 27, 1984",Missouri State University
30,Danny Ainge,1982,1995,G,6-4,175.0,"March 17, 1959",Brigham Young University
31,Matthew Aitch,1968,1968,F,6-7,230.0,"September 21, 1944",Michigan State University
32,Alexis Ajinca,2009,2017,C,7-2,248.0,"May 6, 1988",NaN
33,Henry Akin,1967,1969,C-F,6-10,225.0,"July 31, 1944",Morehead State University
34,Josh Akognon,2013,2013,G,5-11,185.0,"February 10, 1986","California State University, Fullerton"
35,Solomon Alabi,2011,2012,C,7-1,251.0,"March 21, 1988",Florida State University
36,Mark Alarie,1987,1991,F,6-8,217.0,"December 11, 1963",Duke University
37,Gary Alcorn,1960,1961,C,6-9,225.0,"October 8, 1936","California State University, Fresno"
38,Furkan Aldemir,2015,2015,F-C,6-10,240.0,"August 9, 1991",NaN
39,Cole Aldrich,2011,2018,C,6-11,250.0,"October 31, 1988",University of Kansas
40,LaMarcus Aldridge,2007,2018,F-C,6-11,260.0,"July 19, 1985",University of Texas at Austin
41,Chuck Aleksinas,1985,1985,C,6-11,260.0,"February 26, 1959",University of Connecticut
42,Cliff Alexander,2016,2016,F,6-8,245.0,"November 16, 1995",University of Kansas
43,Cory Alexander,1996,2005,G,6-1,185.0,"June 22, 1973",University of Virginia
44,Courtney Alexander,2001,2003,G,6-5,205.0,"April 27, 1977","California State University, Fresno"
45,Gary Alexander,1994,1994,F,6-7,240.0,"November 1, 1969",University of South Florida
46,Joe Alexander,2009,2010,F,6-8,230.0,"December 26, 1986",West Virginia University
47,Victor Alexander,1992,2002,C-F,6-9,265.0,"August 31, 1969",Iowa State University
48,Steve Alford,1988,1991,G,6-2,183.0,"November 23, 1964",Indiana University
49,Bill Allen,1968,1968,C-F,6-8,205.0,NaN,New Mexico State University

Cмотрим насколько однородны данные и сколько пропущенных элементов в тех или иных столбцах.

In [16]:
first_data.count()

Player        4550
year_start    4550
year_end      4550
position      4549
height        4549
weight        4544
birth_date    4519
college       4248
dtype: int64

Работа со столбцом height

In [18]:
def from_ft_to_m(ft):
    if pd.isna(ft):
        return
    size = ft.split("-")
    return (((int(size[0]) * 12) + int(size[1])) / 39.37008) * 100

#Перевод поля height из имперской системы в метрическую. Для удобства дальнейшей работы.
first_data["height"] = first_data["height"].apply(from_ft_to_m)

Работа со столбцом weight

In [19]:
def from_lb_to_kg(lb):
    return round(lb/2.2046,2)

#Перевод поля weight из имперской системы в метрическую
first_data["weight"] = first_data["weight"].apply(from_lb_to_kg)

Загрузка данных второго сета.

In [68]:
second_data = pd.read_csv('Players.csv')
#Смотрим основные параметры.
print(second_data.shape)
print(second_data.dtypes)

(3922, 8)
Unnamed: 0       int64
Player          object
height         float64
weight         float64
collage         object
born           float64
birth_city      object
birth_state     object
dtype: object

Оцениваем что в дата-сете есть, и с чем прийдется иметь дело.

In [69]:
second_data.head(50)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
6,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey
9,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana
10,10,Don Boven,193.0,95.0,Western Michigan University,1925.0,Kalamazoo,Michigan
11,11,Harry Boykoff,208.0,102.0,St. John's University,1922.0,Brooklyn,New York
12,12,Joe Bradley,190.0,79.0,Oklahoma State University,1928.0,Washington,Oklahoma
13,13,Bob Brannum,196.0,97.0,Michigan State University,1925.0,NaN,NaN
14,14,Carl Braun,196.0,81.0,Colgate University,1927.0,Brooklyn,New York
15,15,Frankie Brian,185.0,81.0,Louisiana State University,1923.0,Zachary,Louisiana
16,16,Price Brookfield,193.0,83.0,West Texas A&M University,1920.0,Floydada,Texas
17,17,Bob Brown,193.0,92.0,Miami University,1923.0,Versailles,Ohio
18,18,Jim Browne,208.0,106.0,NaN,1930.0,Midlothian,Illinois
19,19,Walt Budko,196.0,99.0,Columbia University,1925.0,Kearney,New Jersey
20,20,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1926.0,NaN,NaN
21,21,Tommy Byrnes,190.0,79.0,Seton Hall University,1923.0,Teaneck,New Jersey
22,22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California
23,23,Don Carlson,183.0,77.0,University of Minnesota,1919.0,Minneapolis,Minnesota
24,24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN
25,25,Jake Carter,193.0,88.0,East Texas State University,1924.0,NaN,NaN
26,26,Al Cervi*,180.0,77.0,NaN,1917.0,Buffalo,New York
27,27,John Chaney,190.0,83.0,Louisiana State University,1920.0,NaN,NaN
28,28,Leroy Chollet,188.0,86.0,Canisius College,1925.0,New Orleans,Louisiana
29,29,Bill Closs,196.0,88.0,Rice University,1922.0,Edge,Texas
30,30,Paul Cloyd,188.0,81.0,University of Wisconsin,1920.0,NaN,NaN
31,31,Jack Coleman,201.0,88.0,University of Louisville,1924.0,Burgin,Kentucky
32,32,Bobby Cook,178.0,70.0,University of Wisconsin,1923.0,NaN,NaN
33,33,Ray Corley,183.0,81.0,Georgetown University,1928.0,NaN,NaN
34,34,Jack Cotton,201.0,90.0,University of Wyoming,1924.0,Miles City,Montana
35,35,Dillard Crocker,193.0,92.0,Western Michigan University,1925.0,Coffee County,Tennessee
36,36,Chink Crossin,185.0,74.0,University of Pennsylvania,1923.0,Luzerne,Pennsylvania
37,37,Fran Curran,183.0,79.0,University of Notre Dame,1922.0,Sterling,Illinois
38,38,Jimmy Darden,185.0,77.0,University of Denver,1922.0,NaN,NaN
39,39,Bob Davies*,185.0,79.0,Seton Hall University,1920.0,Harrisburg,Pennsylvania
40,40,Hook Dillon,190.0,81.0,University of North Carolina,1924.0,Savannah,Georgia
41,41,Earl Dodd,196.0,79.0,Truman State University,1924.0,NaN,NaN
42,42,Joe Dolhon,183.0,79.0,New York University,1927.0,NaN,NaN
43,43,Bob Doll,196.0,88.0,University of Colorado,1919.0,Steamboat Springs,Colorado
44,44,Harry Donovan,188.0,81.0,Muhlenberg College,1926.0,Union City,New Jersey
45,45,Andy Duncan,198.0,88.0,College of William & Mary,1922.0,NaN,NaN
46,46,Dike Eddleman,190.0,85.0,University of Illinois at Urbana-Champaign,1922.0,Centralia,Illinois
47,47,Gene Englund,196.0,92.0,University of Wisconsin,1917.0,Kenosha,Wisconsin
48,48,Bob Evans,188.0,79.0,Butler University,1925.0,Indianapolis,Indiana
49,49,Johnny Ezersky,190.0,79.0,University of Rhode Island,1922.0,New York,New York

Видно что столбец "Unnamed: 0" не несёт информации, удаляем его. Столбец collage написан с ошибкой, исправляем.

In [23]:
second_data.rename(columns ={"collage":"college"},inplace=True)
second_data.drop(columns=["Unnamed: 0"],inplace=True)

In [24]:
third_data = pd.read_csv('Seasons_Stats.csv')
third_data.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [25]:
columns = third_data.columns
columns = columns.drop("Year").drop("Player").drop("Age").drop("Pos")
print(columns)
third_data.drop(columns=columns,inplace=True)

Index(['Unnamed: 0', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%', '3PAr', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'blanl',
       'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM', 'BPM', 'VORP',
       'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%',
       'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS'],
      dtype='object')

In [26]:
third_data.drop_duplicates("Player",inplace=True)
third_data.tail(500)

         Year             Player Pos   Age
20837  2011.0     Wesley Johnson  SG  23.0
20839  2011.0    Dominique Jones  SG  22.0
20861  2011.0         Gani Lawal  PF  22.0
20868  2011.0         Jeremy Lin  PG  22.0
20907  2011.0        Greg Monroe   C  20.0
...       ...                ...  ..   ...
24672  2017.0      Troy Williams  SF  22.0
24675  2017.0       Kyle Wiltjer  PF  24.0
24688  2017.0  Stephen Zimmerman   C  20.0
24689  2017.0        Paul Zipser  SF  22.0
24690  2017.0        Ivica Zubac   C  19.0

[500 rows x 4 columns]

In [31]:
third_data.rename(columns ={"Year":"year_start","Pos":"position"},inplace=True)

In [27]:
for col in third_data.columns:
    pct_missing = np.mean(third_data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100,5)))

Year - 0.0255%
Player - 0.0255%
Pos - 0.0255%
Age - 0.15298%

In [28]:
ind_missing = third_data[pd.isna(third_data["Player"])].index
third_data = third_data.drop(ind_missing, axis=0)

In [29]:
for col in third_data.columns:
    pct_missing = np.mean(third_data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100,5)))

Year - 0.0%
Player - 0.0%
Pos - 0.0%
Age - 0.12752%

In [67]:
data = pd.merge(left=first_data,right=second_data,on="Player",how="inner")
data = pd.merge(left=data,right=third_data,on = "Player",how="inner")
data.head(500)

,Player,year_start_x,year_end,position_x,height_x,weight_x,birth_date,college_x,height_y,weight_y,college_y,born,birth_city,birth_state,year_start_y,position_y,Age
0,Alaa Abdelnaby,1991,1995,F-C,208.279993,108.86,"June 24, 1968",Duke University,208.0,108.0,Duke University,1968.0,Cairo,Egypt,1991.0,PF,22.0
1,Zaid Abdul-Aziz,1969,1978,C-F,205.739993,106.60,"April 7, 1946",Iowa State University,206.0,106.0,Iowa State University,1946.0,Brooklyn,New York,1969.0,C,22.0
2,Mahmoud Abdul-Rauf,1991,2001,G,185.419994,73.48,"March 9, 1969",Louisiana State University,188.0,83.0,"University of California, Los Angeles",1942.0,Wilmington,Delaware,1991.0,PG,21.0
3,Tariq Abdul-Wahad,1998,2003,F,198.119994,101.15,"November 3, 1974",San Jose State University,198.0,101.0,San Jose State University,1974.0,Maisons Alfort,France,1998.0,SG,23.0
4,Shareef Abdur-Rahim,1997,2008,F,205.739993,102.06,"December 11, 1976",University of California,206.0,102.0,University of California,1976.0,Marietta,Georgia,1997.0,PF,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Mitchell Butler,1994,2004,G-F,195.579994,95.26,"December 15, 1970","University of California, Los Angeles",188.0,77.0,University of Memphis,1946.0,Memphis,Tennessee,1994.0,SG,23.0
496,Rasual Butler,2003,2016,F-G,200.659994,97.52,"May 23, 1979",La Salle University,201.0,97.0,La Salle University,1979.0,Philadelphia,Pennsylvania,2003.0,SG,23.0
497,Dwight Buycks,2014,2015,G,190.499994,86.18,"March 6, 1989",Marquette University,190.0,86.0,Marquette University,1989.0,Milwaukee,Wisconsin,2014.0,PG,24.0
498,Derrick Byars,2012,2012,F,200.659994,99.79,"April 25, 1984",Vanderbilt University,201.0,99.0,Vanderbilt University,1984.0,Memphis,Tennessee,2012.0,PF,27.0
499,Andrew Bynum,2006,2014,C,213.359993,129.28,"October 27, 1987",NaN,213.0,129.0,NaN,1987.0,Plainsboro,New Jersey,2006.0,C,18.0

In [ ]:

for col in first_data.columns:
    pct_missing = np.mean(first_data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100,5)))

features = ["height", "weight"]
first_data[features].hist(figsize=(10, 4))